.row {
	padding: 20px;
}

.tubeData {
	border: 1px solid black;
}

.good-service {
	color: green;
}

.minor-delays {
	color: orange;
}

.severe-delays {
	color: red;
}

#tube-data0 h2{
	color: #B36305;
}

#tube-data1 h2 {
	color: #E32017;
}

#tube-data2 h2 {
	color: #FFD300;
}

#tube-data3 h2 {
	color: #00782A;
}

#tube-data4 h2 {
	color: #F3A9BB;
}

#tube-data5 h2 {
	color: #A0A5A9;
}

#tube-data6 h2 {
	color: #9B0056;
}

#tube-data7 h2 {
	color: #000000;
}

#tube-data8 h2 {
	color: #003688;
}

#tube-data9 h2 {
	color: #0098D4;
}

#tube-data10 h2 {
	color: #95CDBA;
}